package templates

templ Navbar(n Nav) {
    <div class={"topnav"}>
    for name, page := range n.pages {
        <a class={"active", templ.KV("active", name == n.active)} href={page}>{ name }</a>
    }
    </div>
}