services:
  db:
    image: postgres
    container_name: postgres-rec
    env_file:
      - ./Docker/db.env
    ports:
      - 5432:5432
    volumes: 
      - recipouir-api:/var/lib/postgresql/data
      - ./Docker/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  recipouir-api: